body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #005ca9; /* Azul padrão da Caixa */
    color: white; /* Deixa o texto padrão branco */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}
h1 {
    color: white; /* Título em branco */
}
#concurso-info {
    color: #e0e0e0; /* Um branco levemente acinzentado para dar contraste */
    font-size: 1.2em;
    margin-bottom: 20px;
}
.numeros-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.bola {
    background-color: #209869; /* Mantém o fundo verde original da Mega-Sena */
    color: white; /* Mantém o número branco */
    font-size: 1.5em;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}